* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  height: 100%;
  background: #000010;
  font-family: "Georgia", "Times New Roman", serif;
}


.webgl {
  position: fixed;
  inset: 0;             
  width: 100vw;
  height: 100vh;
  display: block;
  outline: none;
  touch-action: none;   
  cursor: grab;
}


.webgl:active { cursor: grabbing; }
